<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*<link rel="shortcut icon" href="/SisypheanSolutions/favicon.ico" type="image/x-icon">*@
    @Styles.Render("~/bundles/styles")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="routing wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="home"><a>Home</a></li>
                        <li class="file-manager"><a>File Manager</a></li>
                        <li class="news-feed"><a>RSS Feed</a></li>
                        <li class="about"><a>About</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="site-content">
            @RenderBody()
        </div>

        <div class="container-fluid footer-background footer-text">
            <div class="container">
                <div class="footer">
                    <footer>
                        <div class="row">
                            <div class="col-sm-offset-3 col-sm-6 icon-parent-container">
                                <a class="icon-anchor" href="https://www.linkedin.com/in/brandon-hurler-18382bb1">
                                    <div class="icon-container">
                                        <span class="icon">
                                            <i class="fa fa-linkedin-square"></i>
                                        </span>
                                    </div>
                                    <div class="icon-container">
                                        <span>View my LinkedIn</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <p class="copyright">&copy; @DateTime.Now.Year Brandon Hurler</p>
        </div>

        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/scripts")
    </div>
</body>
</html>
